.banner {
    margin-top: 200px;
    width: 900px;
    height: 400px;
    text-align: center;
    margin-left: 405px;
}

.app-logo-2 {
    width: 70px;
}

.banner-title {
    color: white;
    font-family: "Inter";
    font-size: 44px;
    font-weight: 700;
    font-style: normal;
    width: 900px;
    margin-top: 20px;
}