.banner {
    margin-top: 200px;
    height: 400px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.app-logo-2 {
    width: 70px;
}

.banner-title {
    color: white;
    font-family: "Inter";
    font-size: 1.25rem;
    font-size: clamp(1.25rem, 0.2178899082568806rem + 4.4036697247706424vw, 2.75rem);
    font-weight: 700;
    font-style: normal;
    margin-top: 20px;
}


@media only screen and (max-width: 600px) {

    .banner {
        padding-left: 10px;
        height: 250px;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

}