footer {
    background-color: rgb(26, 26, 26); 
    height: 400px;
    margin: 10px;
    border-radius: 30px;
    color: white;
    padding: 30px;
}

.footer-div {
    display: flex;
    justify-content: space-between;
}

.footer-title {
    font-family: "Inter";
    font-size: 40px;
    font-weight: 700;
    font-style: normal;
    width: 270px;
    margin-bottom: 180px;
    line-height: 51px;
}

.footer-subtitle {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
}

.footer-sub {
    margin-top: 170px;
    font-family: "Inter";
    font-size: 12px;
    font-weight: 700;
    font-style: normal;
}

.footer-contact {
    font-family: "Inter";
    font-size: 15px;
    font-weight: 700;
    font-style: normal;
    margin-top: 34px;
}

.footer-SM {
    font-family: "Inter";
    font-size: 30px;
    font-weight: 700;
    font-style: normal;
    width: 270px;
    color: white;
}

.fa {
    margin-right: 7px;
    color: white;
}

.ri-twitter-x-line {
    margin-right: 8px;
}

.footer-sub a {
    font-family: "Inter";
    font-size: 12px;
    font-weight: 700;
    font-style: normal; 
    text-decoration: none;
    color: white;
}

.footer-sub a:hover {
    cursor: pointer;
    text-decoration: underline;
}




